<p id="notice"><%= notice %></p>

<h1>Atividades Cadastradas</h1>
<hr>
    <%= render 'busca' %>

<hr>
<table>
  <thead>
    <tr>
      <th>Evento</th>
      <th>Título</th>
      <th>Assunto</th>
      <th>Resumo</th>
      <th>Tipo</th>
      <th>Início</th>
      <th>Fim</th>
      <th>Local</th>
      <th>Responsavel</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @atividades.each do |atividade| %>
      <tr>
        <td><%= atividade.evento.titulo if atividade.evento %></td>
        <td><%= atividade.tituloAtividade %></td>
        <td><%= atividade.assunto %></td>
        <td><%= atividade.resumo %></td>
        <td><%= atividade.tipo %></td>
        <td><%= atividade.dataHora_inicio %></td>
        <td><%= atividade.dataHora_fim %></td>
        <td><%= atividade.local %></td>
        <td><%= atividade.responsavel %></td>
        <td> <%= link_to ' ', edit_atividade_path(atividade), class: "glyphicon glyphicon-pencil" %>
<%= link_to ' ', atividade, method: :delete, data: { confirm: 'Tem certeza de que deseja excluir?' } , class: "glyphicon glyphicon-trash" %>
	</td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @atividade, previous_label: "Anterior", next_label: "Próxima" %>

<br>

<%= link_to 'Nova Atividade', new_atividade_path %>
